.container {
  background: var(--COLOR-WHITE);
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 2rem;
  margin: 0;
  padding: 2rem 0.25rem;
}

.sm-container {
  background: var(--COLOR-WHITE);
  align-items: flex-start;
  border-radius: 0.5rem;
}

.colored-container {
  background: var(--COLOR-PRIMARY-XXLIGHT);
}

.container-title {
  margin: 1vh 0;
  min-height: 8vh;
}

.code-container {
  height: 40vh;
}

.section {
  min-height: calc(100vh - 8rem);
  margin: auto;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .container {
    margin: 1rem 0.25rem;
  }
}
