
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500&display=swap");

sub,
label,
.h6 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--COLOR-GREY-DARK);
}

svg,
i {
  font-size: 1.75rem !important;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3,
div,
input,
button {
  font-size: 1.6rem;
}

small {
  font-size: 1.1rem;
  color: var(--COLOR-GREY-DARK);
  font-weight: 200;
}

p {
  font-size: 1.6rem;
  letter-spacing: 0.0125em;
}

span,
li,
a {
  font-size: 1.5rem;
}

.h1 {
  font-size: 4rem;
  font-weight: 700;
}

.h2 {
  font-size: 3rem;
  font-weight: 500;
}

.h3 {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.8rem;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.colored-txt {
  color: var(--COLOR-PRIMARY-SAT);
}

.wt-text {
  color: white;
}

.up-case {
  text-transform: uppercase;
}

.text-shadow {
  text-shadow: 1px 1px 1px var(--BLACK-TRANS);
}
