/** WIDTHS **/

.w-20p {
  width: 20%;
}

.w-25p {
  width: 25%;
}

.w-30p {
  width: 30%;
}

.w-35p {
  width: 35%;
}

.w-40p {
  width: 40%;
}

.w-50p {
  width: 50%;
}

.w-60p {
  width: 60%;
}

.w-80p {
  width: 80%;
}

.w-90p {
  width: 90%;
}

.w-95p {
  width: 95%;
}

.w-3rm {
  width: 3rem;
}

.w-10rm {
  width: 10rem;
}

.w-15rm {
  width: 15rem;
}

.w-20rm {
  width: 20rem;
}

.w-30rm {
  width: 30rem;
}

.w-35rm {
  width: 35rem;
}

.w-40rm {
  width: 40rem;
}

.w-50rm {
  width: 50rem;
}

/** HEIGHTS **/

.h-3rm {
  height: 3rem;
}

.h-10rm {
  height: 10rem;
}

.h-15rm {
  height: 15rem;
}

.h-20rm {
  height: 20rem;
}

.h-25rm {
  height: 25rem;
}

.h-30rm {
  height: 30rem;
}

.h-35rm {
  height: 35rem;
}

.h-40rm {
  height: 40rem;
}

.h-10 {
  height: 10vh;
}

.h-12 {
  height: 12vh;
}

.h-15 {
  height: 15vh;
}

.h-20 {
  height: 20vh;
}

