.alert-box {
  min-width: auto;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  background: var(--COLOR-PRIMARY-LIGHT);
  border: 0.15rem solid var(--COLOR-PRIMARY-DARK);
  color: var(--COLOR-PRIMARY-DARK);
  justify-content: space-between;
}

.action-link {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.6rem 0.4rem;
}

.action-link:hover {
  background: var(--COLOR-GREY-TRANS);
}

.action-close:hover {
  cursor: pointer;
  background: var(--COLOR-GREY-TRANS);
}

.info-alert {
  background: var(--BLUE-XLIGHT);
  border: 0.15rem solid var(--BLUE);
  color: var(--BLUE);
}

.success-alert {
  background: var(--GREEN-LIGHT);
  border: 0.15rem solid var(--GREEN);
  color: var(--GREEN);
}

.warning-alert {
  background: var(--YELLOW-LIGHT);
  border: 0.15rem solid var(--YELLOW);
  color: var(--YELLOW);
}

.error-alert {
  background: var(--RED-LIGHT);
  border: 0.15rem solid var(--RED);
  color: var(--RED);
}

/*filled*/

.filled-alert {
  border: none;
}

/*transition*/

.transition-alert {
  transition: all 0.2s ease;
}

.removeTransition {
  transform: translateX(10rem);
  opacity: 0.3;
}

/* media queries */
@media screen and (max-width: 500px) {
  .alert-box {
    justify-content: center;
  }
}
