.badge-wrapper {
  position: relative;
  overflow: visible;
}

.badge {
  background: var(--COLOR-GREY-DARK);
  border-radius: 50%;
  position: absolute;
  height: 3rem;
  width: 3rem;
  bottom: 70%;
  left: 65%;
  font-size: 1rem;
  font-weight: 700;
  border: 0.2rem solid var(--COLOR-WHITE);
  cursor: default;
}

/** badge sizes **/

.sm-badge {
  width: 1.5rem;
  height: 1.5rem;
}

.md-badge {
  width: 2rem;
  height: 2rem;
}

.lg-badge {
  width: 3.5rem;
  height: 3.5rem;
}

/** badge types **/

.text-badge {
  border-radius: 0.4rem;
  min-width: fit-content;
  padding: 0 1rem;
  height: unset;
  display: inline-block;
  position: initial;
}

.text-badge.sm-badge {
  width: 3rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.text-badge.md-badge {
  width: 4.5rem;
  font-size: 1.5rem;
}

.text-badge.lg-badge {
  width: 6rem;
  font-size: 2.5rem;
}

.btn-badge {
  bottom: 60%;
  left: 88%;
}

/** alignment **/

.badge-tl {
  left: -20%;
}

.badge-br {
  bottom: 5%;
  left: 80%;
}
