.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--BLACK-TRANS);
  z-index: 11;
  overflow: auto;
  display: none;
  opacity: 0;
}

.modal {
  position: relative;
  height: 50vh;
  width: 100%;
  max-width: 60rem;
  background: white;
  border-radius: 0.4rem;
  border: 1px solid var(--COLOR-GREY);
}

.modal-wrapper.show-modal {
  display: grid;
  opacity: 1;
}

.modal-close-btn {
  position: relative;
  left: 44%;
}
