.hamburger,
.docs-hamburger {
  display: none;
  pointer-events: none;
}

.header-wrapper {
  background: var(--COLOR-WHITE);
  width: 45rem;
  height: 20rem;
  overflow-x: scroll;
}

.header {
  background: var(--COLOR-PRIMARY-TRANS);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  box-shadow: inset 0px -1px 1px #e7ebf0;
  position: relative;
  height: fit-content;
}

.navbar {
  position: relative;
  width: 98%;
  margin: auto;
  min-height: 10vh;
  justify-content: space-between;
  animation: opening 1s ease-in-out forwards;
}

.nav-link-btn {
  border-radius: unset;
  color: var(--COLOR-PRIMARY);
  padding: 0;
  transition: all 0.2s ease;
}

.nav-link-btn a:hover {
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
  border-bottom: 0.25rem solid var(--COLOR-WHITE);
  transition: all 0.2s ease;
}

.nav-icon-btn:last-child {
  margin: 0;
}

.nav-icon-btn:hover > * {
  transition: all 0.2s ease;
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
}

.nav-icon-btn:last-child {
  margin-right: 3rem;
}

.searchfield {
  display: flex;
  align-items: center;
  background: var(--COLOR-WHITE);
  border-radius: 4px;
}

.search-nav {
  padding: 0.75rem 0.5rem;
  background: var(--COLOR-WHITE);
  border: none;
}

.search-nav:focus {
  border: none;
}

.search-icon {
  pointer-events: none;
  color: var(--COLOR-PRIMARY);
}

/* sticky header */
.fixed-header {
  position: sticky;
  top: 0%;
  z-index: 10;
}

/*media queries*/

@media screen and (max-width: 1150px) {
  .nav-items {
    width: 33%;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    width: 100%;
  }

  .searchfield {
    position: absolute;
    width: 100%;
    top: 10vh;
    left: 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  }

  .nav-icon-text {
    display: none;
  }

  .search-nav {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 750px) {
  .nav-icon-btn:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .hamburger,
  .docs-hamburger {
    display: grid;
    pointer-events: visible;
    cursor: pointer;
    color: var(--COLOR-WHITE);
    z-index: 3;
  }

  .docs-hamburger {
    z-index: 0;
  }

  .nav-items {
    --height: 40vh;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: var(--height);
    left: 0;
    z-index: 1;
    top: calc(var(--height) * -1);
    background: var(--COLOR-PRIMARY);
    backdrop-filter: blur(9rem);
    -webkit-backdrop-filter: blur(9rem);
    transition: all 1s ease 0s;
    opacity: 0;
    z-index: 1;
  }

  .show-nav {
    display: flex;
    top: 0;
    opacity: 1;
  }

  .show-nav ~ .hamburger {
    color: var(--COLOR-WHITE);
  }

  .header-wrapper {
    width: 32rem;
  }

  .nav-icon-btn {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .navbar {
    justify-content: center;
  }

  .nav-icon-btns {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 290px) {
  .header-wrapper {
    width: 20rem;
  }
}
