/* UTILS */

@import url("utils/container.css");
@import url("utils/flex.css");
@import url("utils/grids.css");
@import url("utils/fonts.css");
@import url("utils/lists.css");
@import url("utils/utilities.css");
@import url("utils/gutter.css");
@import url("utils/size.css");

/* COMPONENTS */

@import url("components-styles/alert.css");
@import url("components-styles/avatar.css");
@import url("components-styles/badge.css");
@import url("components-styles/button.css");
@import url("components-styles/card.css");
@import url("components-styles/image.css");
@import url("components-styles/input.css");

:root {
  /* Primary */
  --COLOR-PRIMARY-XXLIGHT: #f1f0ff;
  --COLOR-PRIMARY-XLIGHT: #e1dafd;
  --COLOR-PRIMARY-LIGHT: #c7b9ff;
  --COLOR-PRIMARY: #7161ff;
  --COLOR-PRIMARY-TRANS: rgba(149, 132, 250, 0.72);
  --COLOR-PRIMARY-DARK-TRANS: rgba(98, 81, 228, 0.76);
  --COLOR-PRIMARY-DARK: rgb(76 63 181);
  --COLOR-PRIMARY-XDARK: #352a6b;
  --COLOR-PRIMARY-SAT: #9a47ff;

  /* Grey */
  --COLOR-GREY-TRANS: rgba(240, 238, 238, 0.342);
  --COLOR-GREY: rgb(190, 190, 190);
  --COLOR-GREY-DARK: rgb(68, 68, 68);
  --COLOR-GREY-XDARK: #333;

  /* Others */
  --RED: rgb(255, 77, 77);
  --RED-LIGHT: #fdeded;
  --BLUE: #495ed1;
  --BLUE-LIGHT: #699bf7;
  --BLUE-XLIGHT: #bfd5fd;
  --YELLOW: #ca9606;
  --YELLOW-LIGHT: #fdfae0;
  --GREEN: #4a8838;
  --GREEN-LIGHT: #c6f5d0;
  --NO-COLOR: rgba(255, 255, 255, 0);
  --BLACK-TRANS: rgb(0 0 0 / 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

main {
  width: 90%;
  margin: auto;
}

.red-bg {
  background: var(--RED);
}

.yellow-bg {
  background: var(--YELLOW);
}

.green-bg {
  background: var(--GREEN);
}

.blue-bg {
  background: var(--BLUE);
}

.red-txt {
  color: var(--RED);
}

.green-txt {
  color: var(--GREEN);
}
