/* UTILS */

@import url("utils/container.css");
@import url("utils/design.css");
@import url("utils/flex.css");
@import url("utils/grids.css");
@import url("utils/fonts.css");
@import url("utils/lists.css");
@import url("utils/utilities.css");
@import url("utils/gutter.css");
@import url("utils/size.css");

/* COMPONENTS */

@import url("components-styles/alert.css");
@import url("components-styles/avatar.css");
@import url("components-styles/badge.css");
@import url("components-styles/button.css");
@import url("components-styles/card.css");
@import url("components-styles/footer.css");
@import url("components-styles/image.css");
@import url("components-styles/input.css");
@import url("components-styles/list.css");
@import url("components-styles/modal.css");
@import url("components-styles/nav.css");
@import url("components-styles/rating.css");
@import url("components-styles/side-bar.css");
@import url("components-styles/toast.css");

/* dark mode & colors*/
@import url("utils/dark-mode.css");
@import url("utils/color.css");

:root {
  /* Primary */
  --COLOR-PRIMARY-XXLIGHT: #ecebfc;
  --COLOR-PRIMARY-XLIGHT: #e1dafd;
  --COLOR-PRIMARY-LIGHT: #c3b9ff;
  --COLOR-PRIMARY: #616bff;
  --COLOR-PRIMARY-MID: #8e7cf9;
  --COLOR-PRIMARY-DARK: #2b37e0;
  --COLOR-PRIMARY-XXDARK: #2e1437;
  --COLOR-PRIMARY-XXXDARK: #120318;
  --COLOR-PRIMARY-SAT: #8747ff;
  --COLOR-PRIMARY-TRANS: #2a37f0a9;

  /* Complementary */
  --COLOR-COMPLEMENTARY-XLIGHT: rgb(255, 238, 240);
  --COLOR-COMPLEMENTARY-LIGHT: rgb(253, 218, 223);
  --COLOR-COMPLEMENTARY: rgb(253, 170, 184);
  --COLOR-COMPLEMENTARY-DARK: rgb(250, 81, 109);
  --COLOR-COMPLEMENTARY-XDARK: rgb(168, 2, 30);

  /* Grey */
  --COLOR-OFFWHITE: #e6e6e6;
  --COLOR-GREY-TRANS: rgba(240, 238, 238, 0.342);
  --COLOR-GREY: rgb(190, 190, 190);
  --COLOR-GREY-DARK: rgb(68, 68, 68);
  --COLOR-GREY-XDARK: #333;

  /* Others */
  --COLOR-CODE-EDITOR: #070318f7;
  --RED: rgb(252, 57, 57);
  --RED-LIGHT: #fcc3c3;
  --BLUE: #495ed1;
  --BLUE-LIGHT: #699bf7;
  --BLUE-XLIGHT: #bfd5fd;
  --YELLOW: #e49502;
  --YELLOW-LIGHT: #fde7bd;
  --GREEN: #3ca120;
  --GREEN-LIGHT: #aefabe;
  --NO-COLOR: rgba(255, 255, 255, 0);
  --BLACK: #333;
  --BLACK-TRANS: rgb(0 0 0 / 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--COLOR-PRIMARY) transparent;
}

body {
  color: var(--COLOR-GREY-DARK);
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--COLOR-PRIMARY);
  border-radius: 20px;
  border: transparent;
}

.dark * {
  scrollbar-color: var(--COLOR-COMPLEMENTARY) transparent;
}

.dark *::-webkit-scrollbar-thumb {
  background: var(--COLOR-COMPLEMENTARY);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 4.5rem;
}

main {
  width: 90%;
  min-height: 80vh;
  line-height: 2.5rem;
  animation: opening 0.5s ease-in forwards;
}

/* animations */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 600px) {
  * {
    font-size: 55%;
  }
}

@media screen and (max-width: 450px) {
  * {
    font-size: 52%;
  }
}

@media screen and (max-width: 350px) {
  * {
    font-size: 48%;
  }
}
